<div class="container">
    <div >
        <button class="btn" (click)="listAll()" *ngIf="show">List all the genres</button>
        <button class="btn" *ngIf="!show" (click)="hide()">Hide</button>
    </div>
    <form action="" class="form">
        <div>
            <label for="" class="label">Sex</label>
            <input type="text" placeholder="example: fantasy" [(ngModel)]="genre" [ngModelOptions]="{standalone: true}">
        </div>
        <button class="btn" (click)="removeGenre()">Remove</button>
        <button class="btn" (click)="addGenre()">Add</button>
        <button class="btn" (click)="search()">Search</button>
    </form>
    <ul *ngIf="!show">
        <li *ngFor="let string of newList">{{string}}</li>
    </ul>
</div>